
<!DOCTYPE html>

<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<html>

  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/inicial/index">SIDBBA</a>
        </div>
		
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %>  </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <%= link_to '/alertas/index', class: "btn btn-default" do %>
             <i class="glyphicon glyphicon-bell"></i> 
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
      <h1>Bem vindo <%=current_user.nome %></h1>
      <div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>
  <div class="maps">
  <div id="map"></div>
    <script type="text/javascript">
      var id;
      function initMap() {
          var markers

             handler = Gmaps.build('Google');
             handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ 
 
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();

                _.each(markers, function(marker){
                infowindow.close();

                google.maps.event.trigger(marker.getServiceObject(), 'click');
              });
                handler.fitMapToBounds();
              });  
      }
      function verHistorico(id) {
                window.location='http://localhost:3000/historico/index?id='+id;
    }
    </script>

<script src="//maps.google.com/maps/api/js?key=AIzaSyBW5FzSp9Va2dLmcIZbrQhXQUegkNjd8G8&callback=initMap" async defer></script>
</div>
      <%= yield %>
    </div>
  </body>
</html>
