<html>

  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/inicial/index">SIDBBA</a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %>  </li>
          </ul>
        </div>
      </div>
    </nav>
<h1>Os Meus Alertas</h1>

<tr>
    <th>Lista de Sensores</th>
  </tr>
  <tr>
<div class="panel panel-primary ">

<table class="table">
  
  <thead>
    <tr>
    	 <th><span class="text">ID</th>
    	 <th><span class="text">Longitude</th>
    	 <th><span class="text">Latitude</th>
    </tr>
  </thead>
    <tbody>
    <% @sensores.each do |sensor| %>
        <tr>
        <td><%= sensor.id %></td>
    	  <td><%= sensor.local_longitude %></td>
    	  <td><%= sensor.local_latitude %></td>
        </tr>
    <% end %>
        </tbody>

</table>
</div>
<%= form_for :alerta do |f| %>
  <p>
    <label for="sensor_id">Sensor:</label>
    <%= f.text_field :sensor_id,placeholder:"ID do Sensor" %>
  </p>
 
  <p>
    <label for="max_temp">Temperatura Máxima:</label>
    <%= f.text_field :max_temp,placeholder:"Por exemplo 30" %>
 </p>
 
 <p>
    <label for="min_temp">Temperatura Mínima:</label>
    <%= f.text_field :min_temp,placeholder:"Por exemplo 10" %>
 </p>
 
  <p>
    <label for="max_luminosidade">Luminosidade Máxima:</label>
    <%= f.text_field :max_luminosidade,placeholder:"Por exemplo 700" %>
 </p>
 
 <p>
    <label for="min_luminosidade">Luminosidade Mínima:</label>
    <%= f.text_field :min_luminosidade,placeholder:"Por exemplo 200" %>
 </p>

<p>
    <label for="max_pressao">Pressão Atmosférica Máxima:</label>
    <%= f.text_field :max_pressao,placeholder:"Por exemplo 1500" %>
 </p>
 
 <p>
    <label for="min_pressao">Pressão Atmosférica Mínima:</label>
    <%= f.text_field :min_pressao,placeholder:"Por exemplo 300" %>
 </p>
 
 <p>
    <label for="max_humidade">Humidade Máxima:</label>
    <%= f.text_field :max_humidade,placeholder:"Por exemplo 80" %>
 </p>
 
 <p>
    <label for="min_humidade">Humidade Mínima:</label>
    <%= f.text_field :min_humidade,placeholder:"Por exemplo 20" %>
 </p>
 
  <p>
    <%= f.submit :"Guardar Alterações" %>
  </p>
<% end %>
 </body>
</html>